Body {
	padding: 0;
	margin: 0;
}
a:link.quicklinks {
	color: white;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
}
a:link.contents {
	color: white;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	line-height: 17px;
}
a:link.sections {
	color: #555555;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
a:link.sections11px {
	color: #555555;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
a:link.article {
	color: #CC6600;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}
a:link.article11px {
	color: #cc6600;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
a:link.article12px {
	color: #cc6600;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
a:link.articlenormal {
	color: #cc6600;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
}
a:link.article15px {
	color: #cc6600;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
}
a:link.articlesmall {
	color: #cc6600;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	font-style: normal;
}

a:visited.quicklinks {
	color: #999999;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
}
a:visited.contents {
	color: white;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	line-height: 17px;
}
a:visited.sections {
	color: #555555;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
}
a:visited.sections11px {
	color: #555555;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	font-style: normal;
}
a:visited.article {
	color: #CC6600;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
}
a:visited.article11px {
	color: #CC6600;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
}
a:visited.article12px {
	color: #CC6600;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
}
a:visited.article15px {
	color: #CC6600;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
}
a:visited.articlenormal {
	color: #CC6600;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}
a:visited.articlesmall {
	color: #CC6600;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	font-style: normal;
}

a:active.quicklinks {
	color: white;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
}
a:active.contents {
	color: white;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	line-height: 17px;
}
a:active.sections {
	color: #555555;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
}
a:active.sections11px {
	color: #555555;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
}
a:active.article {
	color: #cc6600;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
}
a:active.article11px {
	color: #cc6600;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
}
a:active.article15px {
	color: #cc6600;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
}
a:active.articlenormal {
	color: #cc6600;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}
a:active.articlesmall {
	color: #CC6600;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	font-style: normal;
}

a:hover.quicklinks {
	color: #ff9900;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
}
a:hover.contents {
	color: #ff9900;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	line-height: 17px;
}
a:hover.sections {
	color: #0000cc;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
}
a:hover.sections11px {
	color: #0000cc;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	font-style: normal;
}
a:hover.article {
	color: #0000cc;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
}
a:hover.article11px {
	color: #0000cc;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
}
a:hover.article12px {
	color: #0000cc;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
}
a:hover.article15px {
	color: #0000cc;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
}
a:hover.articlenormal {
	color: #0000cc;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}
a:hover.articlesmall {
	color: #0000cc;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	font-style: normal;
}


.BodyText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #555555;
	line-height: 18px;
}
.BodyTextBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #333333;
	font-style: normal;
	line-height: 18px;
}
.BodyTextBoldItalic {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #333333;
	font-style: italic;
	line-height: 18px;
}
.BodyTextItalic {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	font-style: italic;
	line-height: 18px;
}
.BodyTextGrey {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	line-height: 18px;
}
.BodyTextBoldGrey {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #666666;
	font-style: normal;
	line-height: 18px;
}
.SmallText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	line-height: 13px;
}
.SmallTextBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}
.SmallTextGrey {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
}
.SmallTextBoldGrey {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #666666;
}
.SmallTextBlue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000099;
	line-height: 13px;
}
.PageHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	color: #000099;
	font-weight: normal;
}
.PopupPageHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 23px;
	color: #000099;
	font-weight: normal;
}
.SectionContentsHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000099;
	font-weight: bold;
}
.SectionHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000099;
	font-weight: bold;
}
.SubSectionHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000099;
}
.PopupSectionHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000099;
	font-weight: bold;
}
.PageSubHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #444444;
}
.ParaSubHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000099;
	line-height: 18px;
}
.SectionNumbers {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #555555;
}
.SectionComments {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}
.SmallTextCentred {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #333333;
	text-align: center;
	line-height: 13px;
}
.SmallTextVertAlign {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-align: left;
	vertical-align: top;
	line-height: normal;
}
.SiteContents {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	color: #FFFFFF;
}
.SiteContentsHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FF9900;
}
.SiteThisPage {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FF9900;
	font-weight: 600;
}
.InfoAndAdvice {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
}
.SectionHeadingDarkGrey {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333333;
	font-weight: bold;
}
.SectionHeadingLightGrey {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #666666;
}
.FormQuestionInfoText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #222222;
}
.FormQuestionText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #222222;
}
.FormResponseOption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
}
.FormResponseOptionItalic {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
	font-style: italic;
}
.FormResponseOptionNote {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: normal;
}
.FormSectionText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #222222;
	font-weight: normal;
}
.FormQuestion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000099;
	font-weight: bold;
}
.FormQuestionSmallerText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000099;
	font-weight: bold;
}
.FormQuestionOptional {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000080;
	font-weight: normal;
}
.FormSectionName {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000099;
	font-weight: bold;
}
.FormSectionNumber {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #444444;
	font-weight: bold;
}
.Form350WideInlineStyle {
	width: 375px;
	font-size= 13px;
	font-family: Arial, Helvetica, sans-serif;
}
.Form300WideInlineStyle {
	width: 300px;
	font-size= 13px;
	font-family: Arial, Helvetica, sans-serif;
}
.Form300WideInlineStyleReq {
	border: thin solid #000000;
	width: 300px;
	font-size= 13px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFCC99;
}
.Form300WideInlineStyleEmail {
	width: 300px;
	font-size= 13px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.Form250WideInlineStyle {
	width: 250px;
	font-size= 13px;
	font-family: Arial, Helvetica, sans-serif;
}
.Form200WideInlineStyle {
	width: 200px;
	font-size= 13px;
	font-family: Arial, Helvetica, sans-serif;
}
.Form150WideInlineStyle {
	width: 150px;
	font-size= 13px;
	font-family: Arial, Helvetica, sans-serif;
}
.Form125WideInlineStyle {
	width: 125px;
	font-size= 13px;
	font-family: Arial, Helvetica, sans-serif;
}
.Form100WideInlineStyle {
	width: 100px;
	font-size= 13px;
	font-family: Arial, Helvetica, sans-serif;
}
.Form75WideInlineStyle {
	width: 75px;
	font-size= 13px;
	font-family: Arial, Helvetica, sans-serif;
}
.Form50WideInlineStyle {
	width: 50px;
	font-size= 13px;
	font-family: Arial, Helvetica, sans-serif;
}
.Form25WideInlineStyle {
	width: 25px;
	font-size= 13px;
	font-family: Arial, Helvetica, sans-serif;
}
.FormBlueText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000080;
	font-weight: normal;
}
.SmallerText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}
.FormSubmitWarning {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: #CC6600;
}
.FormSubmitButtonText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000099;
}
.FormQuestionTextOrange {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CC6600;
	font-weight: bold;
}
.BodyTextLarge {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #333333;
	line-height: 20px;
}
.TableFormSection {
	background-color: #FFFFE6;
	border: 1px solid #666666;
}
.TableStandard {
	padding: 5px;
	border: 1px solid #808080;
}
.HLine {
    color: #808080;
    border: 0;
    height: 1px;
}
