

 
	#calWrap {
		display:none; position:absolute; -moz-border-radius:5px; -webkit-border-radius:5px; 
		padding:5px; top: 280px; right: 0px; left: 0px; left: 50%; margin-left: -400px;
		width:800px; background-color:#b0c4de; z-index:100; border:1px solid #a0b4ce;
		text-align:left;
	}
	/*
	#sEventPreview{
		display:none; position:absolute; z-index:101; width:400px;
		border-radius:5px;  background-color:#b0c4de; 
		border:1px solid #a0b4ce; padding:5px; -webkit-box-shadow: 5px 5px 20px black; 
		box-shadow: 5px 5px 20px black;
		text-align: left;
	}
	*/
#sEventPreview {
	display:none;
	 text-align: left;
    background-color: #FFF0DB;
    border: 1px solid #A0B4CE;
    padding: 7px;
    position: absolute;
    width: 350px;
    z-index: 101;
}
.calendar td.tdLeft {
    width: 7%;
}
.CalTitle {
font-size: 13px; margin-bottom:3px; font-weight:bold
}
